main#page {
  min-height: 90vh;
  position: relative; }

select {
  width: 100px;
  margin: 10px 0; }

.btn-primary {
  padding: 10px 30px;
  margin-top: 10px;
  background-color: #17a2b8;
  border: none; }

.pd-b-3 {
  padding-bottom: 3rem; }

header .navbar {
  background-color: #818990; }

header .nav-link {
  font-size: 20px;
  margin: 0 50px 0 50px; }

footer {
  bottom: 0;
  width: 100%; }
  footer .footer-wrapper {
    padding: 10px;
    background-color: #818990; }

.products {
  margin: 40px auto; }
  .products img {
    width: 90%;
    text-align: center; }

.product-details .description {
  margin-top: 70px; }

.product-details #addToCart {
  margin: 20px 20px 20px 0; }

.product-details img {
  width: 100%; }
