
<div class="shoppingCart container">
  <br/>
  <div class="row col-lg-12">
    <h1>Shopping cart</h1>
  </div>
  <br/><br/>
  <%if(itemCollection.length>0){ %>
    <%_.forEach(itemCollection, function (itemModel) {%>
    <div class="row col-lg-12">
      <div class="col-lg-2">
        <img src="<%=itemModel.get('itemImage')%>" alt="" height="100" width="100">
      </div>
      <div class="itemDetails col-lg-10">
        Item name - <%=itemModel.get('itemName')%> <br/>
        Item price - <%=itemModel.get('itemPrice')%><br/>
        Item quantity -
        <select class="itemSel" data-cid="<%=itemModel.cid%>">
          <option value="1" selected>1</option>
          <option value="2">2</option>
          <option value="3">3</option>
          <option value="4">4</option>
          <option value="5">5</option>
      </select>
      <br/>
        <button id="remove" type="button" data-cid= "<%=itemModel.cid%>" class="btn-danger">Remove</button>
      </div>
      </div>
      <hr>
    <%})%>

  <div class="row col-lg-12">
    <div class="col-lg-4 offset-lg-2 ">
      <h3><i>Total cost - <span id="totCost"><%=itemTotal%></span></i></h3>
    </div>
    <div class="col-lg-4 pull-right">
      <button type="button" class="btn-primary">Proceed To Checkout</button>
    </div>
  </div>
  <%} else {%>
    <div>
        <h4>Your shopping cart is empty!!</h4><br/>
        <a href="#">Click here to continue shopping</a>
    </div>
  <%}%>
</div>
